(
    background: (r: 0, g: 0, b: 0),
    fps: 30,
    objects: [
        Rect(id: "sq", colour: (r: 7, g: 7, b: 3)),
        Triangle(id: "tri", colour: (r: 7, g: 0, b: 2)),
        Circle(id: "sun", colour: (r: 0, g: 6, b: 3)),
    ],
    keyframes: [
        At(frame: 0, id: "sq", x0: 10, y0: 235, x1: 20, y1: 245),
        At(frame: 299, id: "sq", x0: 110, y0: 408, x1: 120, y1: 418),
        AtTriangle(
            frame: 0,
            id: "tri",
            x0: 500,
            y0: 80,
            x1: 540,
            y1: 120,
            x2: 460,
            y2: 125,
        ),
        AtTriangle(
            frame: 299,
            id: "tri",
            x0: 390,
            y0: 120,
            x1: 430,
            y1: 165,
            x2: 350,
            y2: 165,
        ),
        AtCircle(frame: 0, id: "sun", cx: 150, cy: 90, r: 18),
        AtCircle(frame: 299, id: "sun", cx: 520, cy: 330, r: 34),
    ],
)
