(
    background: (r: 0, g: 0, b: 0),
    fps: 10,
    objects: [
        Rect(id: "sq", colour: (r: 7, g: 7, b: 3)),
    ],
    keyframes: [
        At(frame: 0, id: "sq", x0: 10, y0: 235, x1: 20, y1: 245),
        At(frame: 19, id: "sq", x0: 110, y0: 235, x1: 120, y1: 245),
    ],
)
