(
    background: (r: 0, g: 0, b: 0),
    fps: 30,
    objects: [
        Circle(id: "ball0", colour: (r: 7, g: 0, b: 0)),
        Circle(id: "ball1", colour: (r: 0, g: 7, b: 3)),
        Circle(id: "ball2", colour: (r: 7, g: 7, b: 0)),
        Circle(id: "ball3", colour: (r: 5, g: 0, b: 3)),
        Circle(id: "ball4", colour: (r: 0, g: 7, b: 0)),
    ],
    keyframes: [
        AtCircle(frame: 0, id: "ball0", cx: 98, cy: 187, r: 35),
        AtCircle(frame: 20, id: "ball0", cx: 37, cy: 144, r: 35),
        AtCircle(frame: 40, id: "ball0", cx: 92, cy: 142, r: 35),
        AtCircle(frame: 60, id: "ball0", cx: 152, cy: 180, r: 35),
        AtCircle(frame: 80, id: "ball0", cx: 212, cy: 257, r: 35),
        AtCircle(frame: 100, id: "ball0", cx: 272, cy: 375, r: 35),
        AtCircle(frame: 120, id: "ball0", cx: 332, cy: 373, r: 35),
        AtCircle(frame: 140, id: "ball0", cx: 392, cy: 261, r: 35),
        AtCircle(frame: 160, id: "ball0", cx: 452, cy: 188, r: 35),
        AtCircle(frame: 180, id: "ball0", cx: 512, cy: 155, r: 35),
        AtCircle(frame: 200, id: "ball0", cx: 572, cy: 163, r: 35),
        AtCircle(frame: 220, id: "ball0", cx: 578, cy: 210, r: 35),
        AtCircle(frame: 240, id: "ball0", cx: 519, cy: 298, r: 35),
        AtCircle(frame: 260, id: "ball0", cx: 460, cy: 425, r: 35),
        AtCircle(frame: 280, id: "ball0", cx: 402, cy: 333, r: 35),
        AtCircle(frame: 300, id: "ball0", cx: 343, cy: 239, r: 35),
        AtCircle(frame: 320, id: "ball0", cx: 284, cy: 184, r: 35),
        AtCircle(frame: 340, id: "ball0", cx: 225, cy: 170, r: 35),
        AtCircle(frame: 360, id: "ball0", cx: 166, cy: 195, r: 35),
        AtCircle(frame: 380, id: "ball0", cx: 108, cy: 261, r: 35),
        AtCircle(frame: 400, id: "ball0", cx: 49, cy: 367, r: 35),
        AtCircle(frame: 420, id: "ball0", cx: 78, cy: 390, r: 35),
        AtCircle(frame: 440, id: "ball0", cx: 135, cy: 281, r: 35),
        AtCircle(frame: 460, id: "ball0", cx: 193, cy: 212, r: 35),
        AtCircle(frame: 480, id: "ball0", cx: 251, cy: 184, r: 35),
        AtCircle(frame: 500, id: "ball0", cx: 308, cy: 195, r: 35),
        AtCircle(frame: 520, id: "ball0", cx: 366, cy: 246, r: 35),
        AtCircle(frame: 540, id: "ball0", cx: 423, cy: 338, r: 35),
        AtCircle(frame: 560, id: "ball0", cx: 481, cy: 424, r: 35),
        AtCircle(frame: 580, id: "ball0", cx: 539, cy: 309, r: 35),
        AtCircle(frame: 600, id: "ball0", cx: 596, cy: 235, r: 35),
        AtCircle(frame: 620, id: "ball0", cx: 556, cy: 201, r: 35),
        AtCircle(frame: 640, id: "ball0", cx: 500, cy: 206, r: 35),
        AtCircle(frame: 660, id: "ball0", cx: 444, cy: 252, r: 35),
        AtCircle(frame: 680, id: "ball0", cx: 387, cy: 337, r: 35),
        AtCircle(frame: 700, id: "ball0", cx: 331, cy: 431, r: 35),
        AtCircle(frame: 720, id: "ball0", cx: 274, cy: 318, r: 35),
        AtCircle(frame: 740, id: "ball0", cx: 218, cy: 246, r: 35),
        AtCircle(frame: 760, id: "ball0", cx: 161, cy: 213, r: 35),
        AtCircle(frame: 780, id: "ball0", cx: 105, cy: 220, r: 35),
        AtCircle(frame: 800, id: "ball0", cx: 48, cy: 267, r: 35),
        AtCircle(frame: 820, id: "ball0", cx: 76, cy: 354, r: 35),
        AtCircle(frame: 840, id: "ball0", cx: 131, cy: 413, r: 35),
        AtCircle(frame: 860, id: "ball0", cx: 187, cy: 310, r: 35),
        AtCircle(frame: 880, id: "ball0", cx: 242, cy: 248, r: 35),
        AtCircle(frame: 900, id: "ball0", cx: 297, cy: 225, r: 35),
        AtCircle(frame: 920, id: "ball0", cx: 353, cy: 243, r: 35),
        AtCircle(frame: 940, id: "ball0", cx: 408, cy: 300, r: 35),
        AtCircle(frame: 960, id: "ball0", cx: 463, cy: 398, r: 35),
        AtCircle(frame: 980, id: "ball0", cx: 519, cy: 374, r: 35),
        AtCircle(frame: 1000, id: "ball0", cx: 574, cy: 290, r: 35),
        AtCircle(frame: 1020, id: "ball0", cx: 580, cy: 245, r: 35),
        AtCircle(frame: 1040, id: "ball0", cx: 526, cy: 240, r: 35),
        AtCircle(frame: 1060, id: "ball0", cx: 472, cy: 275, r: 35),
        AtCircle(frame: 1080, id: "ball0", cx: 417, cy: 350, r: 35),
        AtCircle(frame: 1100, id: "ball0", cx: 363, cy: 426, r: 35),
        AtCircle(frame: 1120, id: "ball0", cx: 309, cy: 328, r: 35),
        AtCircle(frame: 1140, id: "ball0", cx: 255, cy: 269, r: 35),
        AtCircle(frame: 1160, id: "ball0", cx: 200, cy: 250, r: 35),
        AtCircle(frame: 1180, id: "ball0", cx: 146, cy: 272, r: 35),
        AtCircle(frame: 1199, id: "ball0", cx: 95, cy: 329, r: 35),
        AtCircle(frame: 0, id: "ball1", cx: 426, cy: 216, r: 18),
        AtCircle(frame: 20, id: "ball1", cx: 327, cy: 207, r: 18),
        AtCircle(frame: 40, id: "ball1", cx: 228, cy: 239, r: 18),
        AtCircle(frame: 60, id: "ball1", cx: 129, cy: 310, r: 18),
        AtCircle(frame: 80, id: "ball1", cx: 30, cy: 422, r: 18),
        AtCircle(frame: 100, id: "ball1", cx: 100, cy: 374, r: 18),
        AtCircle(frame: 120, id: "ball1", cx: 197, cy: 283, r: 18),
        AtCircle(frame: 140, id: "ball1", cx: 294, cy: 233, r: 18),
        AtCircle(frame: 160, id: "ball1", cx: 392, cy: 222, r: 18),
        AtCircle(frame: 180, id: "ball1", cx: 489, cy: 251, r: 18),
        AtCircle(frame: 200, id: "ball1", cx: 586, cy: 320, r: 18),
        AtCircle(frame: 220, id: "ball1", cx: 564, cy: 429, r: 18),
        AtCircle(frame: 240, id: "ball1", cx: 469, cy: 372, r: 18),
        AtCircle(frame: 260, id: "ball1", cx: 374, cy: 287, r: 18),
        AtCircle(frame: 280, id: "ball1", cx: 279, cy: 243, r: 18),
        AtCircle(frame: 300, id: "ball1", cx: 184, cy: 239, r: 18),
        AtCircle(frame: 320, id: "ball1", cx: 88, cy: 274, r: 18),
        AtCircle(frame: 340, id: "ball1", cx: 41, cy: 350, r: 18),
        AtCircle(frame: 360, id: "ball1", cx: 134, cy: 462, r: 18),
        AtCircle(frame: 380, id: "ball1", cx: 227, cy: 351, r: 18),
        AtCircle(frame: 400, id: "ball1", cx: 321, cy: 280, r: 18),
        AtCircle(frame: 420, id: "ball1", cx: 414, cy: 249, r: 18),
        AtCircle(frame: 440, id: "ball1", cx: 507, cy: 258, r: 18),
        AtCircle(frame: 460, id: "ball1", cx: 601, cy: 307, r: 18),
        AtCircle(frame: 480, id: "ball1", cx: 553, cy: 396, r: 18),
        AtCircle(frame: 500, id: "ball1", cx: 461, cy: 409, r: 18),
        AtCircle(frame: 520, id: "ball1", cx: 370, cy: 320, r: 18),
        AtCircle(frame: 540, id: "ball1", cx: 279, cy: 272, r: 18),
        AtCircle(frame: 560, id: "ball1", cx: 187, cy: 263, r: 18),
        AtCircle(frame: 580, id: "ball1", cx: 96, cy: 294, r: 18),
        AtCircle(frame: 600, id: "ball1", cx: 26, cy: 366, r: 18),
        AtCircle(frame: 620, id: "ball1", cx: 116, cy: 449, r: 18),
        AtCircle(frame: 640, id: "ball1", cx: 206, cy: 350, r: 18),
        AtCircle(frame: 660, id: "ball1", cx: 295, cy: 292, r: 18),
        AtCircle(frame: 680, id: "ball1", cx: 385, cy: 273, r: 18),
        AtCircle(frame: 700, id: "ball1", cx: 475, cy: 294, r: 18),
        AtCircle(frame: 720, id: "ball1", cx: 564, cy: 355, r: 18),
        AtCircle(frame: 740, id: "ball1", cx: 591, cy: 456, r: 18),
        AtCircle(frame: 760, id: "ball1", cx: 503, cy: 367, r: 18),
        AtCircle(frame: 780, id: "ball1", cx: 415, cy: 306, r: 18),
        AtCircle(frame: 800, id: "ball1", cx: 327, cy: 286, r: 18),
        AtCircle(frame: 820, id: "ball1", cx: 239, cy: 305, r: 18),
        AtCircle(frame: 840, id: "ball1", cx: 152, cy: 364, r: 18),
        AtCircle(frame: 860, id: "ball1", cx: 64, cy: 462, r: 18),
        AtCircle(frame: 880, id: "ball1", cx: 56, cy: 367, r: 18),
        AtCircle(frame: 900, id: "ball1", cx: 142, cy: 312, r: 18),
        AtCircle(frame: 920, id: "ball1", cx: 228, cy: 297, r: 18),
        AtCircle(frame: 940, id: "ball1", cx: 314, cy: 322, r: 18),
        AtCircle(frame: 960, id: "ball1", cx: 400, cy: 387, r: 18),
        AtCircle(frame: 980, id: "ball1", cx: 487, cy: 435, r: 18),
        AtCircle(frame: 1000, id: "ball1", cx: 573, cy: 354, r: 18),
        AtCircle(frame: 1020, id: "ball1", cx: 588, cy: 314, r: 18),
        AtCircle(frame: 1040, id: "ball1", cx: 503, cy: 313, r: 18),
        AtCircle(frame: 1060, id: "ball1", cx: 419, cy: 352, r: 18),
        AtCircle(frame: 1080, id: "ball1", cx: 335, cy: 431, r: 18),
        AtCircle(frame: 1100, id: "ball1", cx: 250, cy: 396, r: 18),
        AtCircle(frame: 1120, id: "ball1", cx: 166, cy: 337, r: 18),
        AtCircle(frame: 1140, id: "ball1", cx: 82, cy: 318, r: 18),
        AtCircle(frame: 1160, id: "ball1", cx: 34, cy: 339, r: 18),
        AtCircle(frame: 1180, id: "ball1", cx: 117, cy: 400, r: 18),
        AtCircle(frame: 1199, id: "ball1", cx: 195, cy: 437, r: 18),
        AtCircle(frame: 0, id: "ball2", cx: 72, cy: 67, r: 15),
        AtCircle(frame: 20, id: "ball2", cx: 96, cy: 75, r: 15),
        AtCircle(frame: 40, id: "ball2", cx: 121, cy: 124, r: 15),
        AtCircle(frame: 60, id: "ball2", cx: 145, cy: 212, r: 15),
        AtCircle(frame: 80, id: "ball2", cx: 170, cy: 340, r: 15),
        AtCircle(frame: 100, id: "ball2", cx: 194, cy: 430, r: 15),
        AtCircle(frame: 120, id: "ball2", cx: 219, cy: 284, r: 15),
        AtCircle(frame: 140, id: "ball2", cx: 243, cy: 177, r: 15),
        AtCircle(frame: 160, id: "ball2", cx: 268, cy: 110, r: 15),
        AtCircle(frame: 180, id: "ball2", cx: 292, cy: 83, r: 15),
        AtCircle(frame: 200, id: "ball2", cx: 316, cy: 97, r: 15),
        AtCircle(frame: 220, id: "ball2", cx: 341, cy: 150, r: 15),
        AtCircle(frame: 240, id: "ball2", cx: 365, cy: 243, r: 15),
        AtCircle(frame: 260, id: "ball2", cx: 390, cy: 376, r: 15),
        AtCircle(frame: 280, id: "ball2", cx: 414, cy: 392, r: 15),
        AtCircle(frame: 300, id: "ball2", cx: 439, cy: 260, r: 15),
        AtCircle(frame: 320, id: "ball2", cx: 463, cy: 169, r: 15),
        AtCircle(frame: 340, id: "ball2", cx: 488, cy: 117, r: 15),
        AtCircle(frame: 360, id: "ball2", cx: 512, cy: 105, r: 15),
        AtCircle(frame: 380, id: "ball2", cx: 537, cy: 133, r: 15),
        AtCircle(frame: 400, id: "ball2", cx: 561, cy: 202, r: 15),
        AtCircle(frame: 420, id: "ball2", cx: 586, cy: 310, r: 15),
        AtCircle(frame: 440, id: "ball2", cx: 610, cy: 458, r: 15),
        AtCircle(frame: 460, id: "ball2", cx: 615, cy: 326, r: 15),
        AtCircle(frame: 480, id: "ball2", cx: 591, cy: 219, r: 15),
        AtCircle(frame: 500, id: "ball2", cx: 567, cy: 152, r: 15),
        AtCircle(frame: 520, id: "ball2", cx: 543, cy: 125, r: 15),
        AtCircle(frame: 540, id: "ball2", cx: 519, cy: 138, r: 15),
        AtCircle(frame: 560, id: "ball2", cx: 495, cy: 192, r: 15),
        AtCircle(frame: 580, id: "ball2", cx: 471, cy: 285, r: 15),
        AtCircle(frame: 600, id: "ball2", cx: 447, cy: 418, r: 15),
        AtCircle(frame: 620, id: "ball2", cx: 423, cy: 362, r: 15),
        AtCircle(frame: 640, id: "ball2", cx: 399, cy: 251, r: 15),
        AtCircle(frame: 660, id: "ball2", cx: 375, cy: 179, r: 15),
        AtCircle(frame: 680, id: "ball2", cx: 351, cy: 147, r: 15),
        AtCircle(frame: 700, id: "ball2", cx: 327, cy: 155, r: 15),
        AtCircle(frame: 720, id: "ball2", cx: 303, cy: 203, r: 15),
        AtCircle(frame: 740, id: "ball2", cx: 279, cy: 291, r: 15),
        AtCircle(frame: 760, id: "ball2", cx: 255, cy: 419, r: 15),
        AtCircle(frame: 780, id: "ball2", cx: 231, cy: 366, r: 15),
        AtCircle(frame: 800, id: "ball2", cx: 207, cy: 259, r: 15),
        AtCircle(frame: 820, id: "ball2", cx: 183, cy: 192, r: 15),
        AtCircle(frame: 840, id: "ball2", cx: 159, cy: 165, r: 15),
        AtCircle(frame: 860, id: "ball2", cx: 135, cy: 178, r: 15),
        AtCircle(frame: 880, id: "ball2", cx: 111, cy: 231, r: 15),
        AtCircle(frame: 900, id: "ball2", cx: 87, cy: 324, r: 15),
        AtCircle(frame: 920, id: "ball2", cx: 63, cy: 457, r: 15),
        AtCircle(frame: 940, id: "ball2", cx: 39, cy: 340, r: 15),
        AtCircle(frame: 960, id: "ball2", cx: 15, cy: 248, r: 15),
        AtCircle(frame: 980, id: "ball2", cx: 37, cy: 196, r: 15),
        AtCircle(frame: 1000, id: "ball2", cx: 60, cy: 184, r: 15),
        AtCircle(frame: 1020, id: "ball2", cx: 84, cy: 212, r: 15),
        AtCircle(frame: 1040, id: "ball2", cx: 107, cy: 280, r: 15),
        AtCircle(frame: 1060, id: "ball2", cx: 131, cy: 388, r: 15),
        AtCircle(frame: 1080, id: "ball2", cx: 154, cy: 403, r: 15),
        AtCircle(frame: 1100, id: "ball2", cx: 178, cy: 296, r: 15),
        AtCircle(frame: 1120, id: "ball2", cx: 201, cy: 229, r: 15),
        AtCircle(frame: 1140, id: "ball2", cx: 225, cy: 202, r: 15),
        AtCircle(frame: 1160, id: "ball2", cx: 248, cy: 215, r: 15),
        AtCircle(frame: 1180, id: "ball2", cx: 272, cy: 268, r: 15),
        AtCircle(frame: 1199, id: "ball2", cx: 294, cy: 355, r: 15),
        AtCircle(frame: 0, id: "ball3", cx: 404, cy: 147, r: 37),
        AtCircle(frame: 20, id: "ball3", cx: 337, cy: 159, r: 37),
        AtCircle(frame: 40, id: "ball3", cx: 270, cy: 211, r: 37),
        AtCircle(frame: 60, id: "ball3", cx: 203, cy: 302, r: 37),
        AtCircle(frame: 80, id: "ball3", cx: 136, cy: 434, r: 37),
        AtCircle(frame: 100, id: "ball3", cx: 69, cy: 323, r: 37),
        AtCircle(frame: 120, id: "ball3", cx: 69, cy: 229, r: 37),
        AtCircle(frame: 140, id: "ball3", cx: 135, cy: 174, r: 37),
        AtCircle(frame: 160, id: "ball3", cx: 201, cy: 159, r: 37),
        AtCircle(frame: 180, id: "ball3", cx: 267, cy: 185, r: 37),
        AtCircle(frame: 200, id: "ball3", cx: 332, cy: 250, r: 37),
        AtCircle(frame: 220, id: "ball3", cx: 398, cy: 355, r: 37),
        AtCircle(frame: 240, id: "ball3", cx: 464, cy: 394, r: 37),
        AtCircle(frame: 260, id: "ball3", cx: 530, cy: 281, r: 37),
        AtCircle(frame: 280, id: "ball3", cx: 595, cy: 209, r: 37),
        AtCircle(frame: 300, id: "ball3", cx: 548, cy: 177, r: 37),
        AtCircle(frame: 320, id: "ball3", cx: 483, cy: 184, r: 37),
        AtCircle(frame: 340, id: "ball3", cx: 419, cy: 232, r: 37),
        AtCircle(frame: 360, id: "ball3", cx: 354, cy: 319, r: 37),
        AtCircle(frame: 380, id: "ball3", cx: 290, cy: 443, r: 37),
        AtCircle(frame: 400, id: "ball3", cx: 226, cy: 320, r: 37),
        AtCircle(frame: 420, id: "ball3", cx: 161, cy: 237, r: 37),
        AtCircle(frame: 440, id: "ball3", cx: 97, cy: 194, r: 37),
        AtCircle(frame: 460, id: "ball3", cx: 40, cy: 192, r: 37),
        AtCircle(frame: 480, id: "ball3", cx: 103, cy: 229, r: 37),
        AtCircle(frame: 500, id: "ball3", cx: 166, cy: 306, r: 37),
        AtCircle(frame: 520, id: "ball3", cx: 229, cy: 424, r: 37),
        AtCircle(frame: 540, id: "ball3", cx: 292, cy: 339, r: 37),
        AtCircle(frame: 560, id: "ball3", cx: 355, cy: 255, r: 37),
        AtCircle(frame: 580, id: "ball3", cx: 419, cy: 210, r: 37),
        AtCircle(frame: 600, id: "ball3", cx: 482, cy: 206, r: 37),
        AtCircle(frame: 620, id: "ball3", cx: 545, cy: 241, r: 37),
        AtCircle(frame: 640, id: "ball3", cx: 599, cy: 317, r: 37),
        AtCircle(frame: 660, id: "ball3", cx: 538, cy: 432, r: 37),
        AtCircle(frame: 680, id: "ball3", cx: 476, cy: 337, r: 37),
        AtCircle(frame: 700, id: "ball3", cx: 414, cy: 259, r: 37),
        AtCircle(frame: 720, id: "ball3", cx: 352, cy: 220, r: 37),
        AtCircle(frame: 740, id: "ball3", cx: 290, cy: 221, r: 37),
        AtCircle(frame: 760, id: "ball3", cx: 228, cy: 262, r: 37),
        AtCircle(frame: 780, id: "ball3", cx: 166, cy: 344, r: 37),
        AtCircle(frame: 800, id: "ball3", cx: 104, cy: 423, r: 37),
        AtCircle(frame: 820, id: "ball3", cx: 42, cy: 319, r: 37),
        AtCircle(frame: 840, id: "ball3", cx: 91, cy: 254, r: 37),
        AtCircle(frame: 860, id: "ball3", cx: 152, cy: 230, r: 37),
        AtCircle(frame: 880, id: "ball3", cx: 212, cy: 245, r: 37),
        AtCircle(frame: 900, id: "ball3", cx: 273, cy: 301, r: 37),
        AtCircle(frame: 920, id: "ball3", cx: 334, cy: 396, r: 37),
        AtCircle(frame: 940, id: "ball3", cx: 394, cy: 374, r: 37),
        AtCircle(frame: 960, id: "ball3", cx: 455, cy: 291, r: 37),
        AtCircle(frame: 980, id: "ball3", cx: 516, cy: 248, r: 37),
        AtCircle(frame: 1000, id: "ball3", cx: 576, cy: 245, r: 37),
        AtCircle(frame: 1020, id: "ball3", cx: 570, cy: 282, r: 37),
        AtCircle(frame: 1040, id: "ball3", cx: 510, cy: 359, r: 37),
        AtCircle(frame: 1060, id: "ball3", cx: 451, cy: 413, r: 37),
        AtCircle(frame: 1080, id: "ball3", cx: 392, cy: 320, r: 37),
        AtCircle(frame: 1100, id: "ball3", cx: 332, cy: 268, r: 37),
        AtCircle(frame: 1120, id: "ball3", cx: 273, cy: 255, r: 37),
        AtCircle(frame: 1140, id: "ball3", cx: 213, cy: 283, r: 37),
        AtCircle(frame: 1160, id: "ball3", cx: 154, cy: 350, r: 37),
        AtCircle(frame: 1180, id: "ball3", cx: 94, cy: 431, r: 37),
        AtCircle(frame: 1199, id: "ball3", cx: 38, cy: 340, r: 37),
        AtCircle(frame: 0, id: "ball4", cx: 526, cy: 191, r: 40),
        AtCircle(frame: 20, id: "ball4", cx: 445, cy: 183, r: 40),
        AtCircle(frame: 40, id: "ball4", cx: 363, cy: 215, r: 40),
        AtCircle(frame: 60, id: "ball4", cx: 281, cy: 286, r: 40),
        AtCircle(frame: 80, id: "ball4", cx: 200, cy: 398, r: 40),
        AtCircle(frame: 100, id: "ball4", cx: 118, cy: 356, r: 40),
        AtCircle(frame: 120, id: "ball4", cx: 40, cy: 262, r: 40),
        AtCircle(frame: 140, id: "ball4", cx: 120, cy: 207, r: 40),
        AtCircle(frame: 160, id: "ball4", cx: 200, cy: 192, r: 40),
        AtCircle(frame: 180, id: "ball4", cx: 280, cy: 217, r: 40),
        AtCircle(frame: 200, id: "ball4", cx: 360, cy: 282, r: 40),
        AtCircle(frame: 220, id: "ball4", cx: 440, cy: 388, r: 40),
        AtCircle(frame: 240, id: "ball4", cx: 520, cy: 365, r: 40),
        AtCircle(frame: 260, id: "ball4", cx: 600, cy: 272, r: 40),
        AtCircle(frame: 280, id: "ball4", cx: 521, cy: 220, r: 40),
        AtCircle(frame: 300, id: "ball4", cx: 443, cy: 208, r: 40),
        AtCircle(frame: 320, id: "ball4", cx: 364, cy: 235, r: 40),
        AtCircle(frame: 340, id: "ball4", cx: 286, cy: 303, r: 40),
        AtCircle(frame: 360, id: "ball4", cx: 207, cy: 411, r: 40),
        AtCircle(frame: 380, id: "ball4", cx: 129, cy: 351, r: 40),
        AtCircle(frame: 400, id: "ball4", cx: 50, cy: 268, r: 40),
        AtCircle(frame: 420, id: "ball4", cx: 105, cy: 225, r: 40),
        AtCircle(frame: 440, id: "ball4", cx: 182, cy: 222, r: 40),
        AtCircle(frame: 460, id: "ball4", cx: 259, cy: 260, r: 40),
        AtCircle(frame: 480, id: "ball4", cx: 335, cy: 337, r: 40),
        AtCircle(frame: 500, id: "ball4", cx: 412, cy: 427, r: 40),
        AtCircle(frame: 520, id: "ball4", cx: 489, cy: 322, r: 40),
        AtCircle(frame: 540, id: "ball4", cx: 566, cy: 258, r: 40),
        AtCircle(frame: 560, id: "ball4", cx: 558, cy: 233, r: 40),
        AtCircle(frame: 580, id: "ball4", cx: 483, cy: 249, r: 40),
        AtCircle(frame: 600, id: "ball4", cx: 407, cy: 305, r: 40),
        AtCircle(frame: 620, id: "ball4", cx: 332, cy: 400, r: 40),
        AtCircle(frame: 640, id: "ball4", cx: 257, cy: 367, r: 40),
        AtCircle(frame: 660, id: "ball4", cx: 181, cy: 288, r: 40),
        AtCircle(frame: 680, id: "ball4", cx: 106, cy: 249, r: 40),
        AtCircle(frame: 700, id: "ball4", cx: 47, cy: 250, r: 40),
        AtCircle(frame: 720, id: "ball4", cx: 121, cy: 291, r: 40),
        AtCircle(frame: 740, id: "ball4", cx: 195, cy: 372, r: 40),
        AtCircle(frame: 760, id: "ball4", cx: 268, cy: 394, r: 40),
        AtCircle(frame: 780, id: "ball4", cx: 342, cy: 310, r: 40),
        AtCircle(frame: 800, id: "ball4", cx: 416, cy: 265, r: 40),
        AtCircle(frame: 820, id: "ball4", cx: 490, cy: 261, r: 40),
        AtCircle(frame: 840, id: "ball4", cx: 564, cy: 296, r: 40),
        AtCircle(frame: 860, id: "ball4", cx: 563, cy: 372, r: 40),
        AtCircle(frame: 880, id: "ball4", cx: 491, cy: 401, r: 40),
        AtCircle(frame: 900, id: "ball4", cx: 419, cy: 318, r: 40),
        AtCircle(frame: 920, id: "ball4", cx: 346, cy: 275, r: 40),
        AtCircle(frame: 940, id: "ball4", cx: 274, cy: 272, r: 40),
        AtCircle(frame: 960, id: "ball4", cx: 202, cy: 309, r: 40),
        AtCircle(frame: 980, id: "ball4", cx: 129, cy: 386, r: 40),
        AtCircle(frame: 1000, id: "ball4", cx: 57, cy: 392, r: 40),
        AtCircle(frame: 1020, id: "ball4", cx: 93, cy: 315, r: 40),
        AtCircle(frame: 1040, id: "ball4", cx: 164, cy: 279, r: 40),
        AtCircle(frame: 1060, id: "ball4", cx: 235, cy: 282, r: 40),
        AtCircle(frame: 1080, id: "ball4", cx: 305, cy: 326, r: 40),
        AtCircle(frame: 1100, id: "ball4", cx: 376, cy: 409, r: 40),
        AtCircle(frame: 1120, id: "ball4", cx: 447, cy: 372, r: 40),
        AtCircle(frame: 1140, id: "ball4", cx: 518, cy: 308, r: 40),
        AtCircle(frame: 1160, id: "ball4", cx: 589, cy: 285, r: 40),
        AtCircle(frame: 1180, id: "ball4", cx: 540, cy: 302, r: 40),
        AtCircle(frame: 1199, id: "ball4", cx: 474, cy: 355, r: 40),
    ],
)
